/*general set*/

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    min-height: 100%;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #F2F2F2;
}

.div-container {
    width: 1200px;
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.clear-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clear-fieldset {
    border: 0;
    padding: 0;
}

/*бахну следующий селектор и на все ссылки-изображения ради display. Или лучше
это прописывать в каждом целевом классе? или сделать некий селектор типа block-bro
как в случае с clear-list?*/

.clear-text-link {
    text-decoration: none;
    color: #000000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Pages*/

/*general header set & images*/

.page-header {
    padding-left: 71px;
    padding-right: 72px;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap; 
    width: 390px;
    justify-content: space-between;
}

.sedona-logo {
    display: block; 
    margin: 0 auto;
}

.navigation-link {
    padding: 3px 17px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: #000000
}

.navigation-user {
    width: 300px;
    margin-left: auto;
}

.search {
    display: block;
    width: 18px;
    height: 18px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
}

.chosen {
    display: block;
    width: 18px;
    height: 17px;
    background-image: url(../img/hearth.svg);
    background-repeat: no-repeat;
}

/*main page comparing block*/

.comparing-block {
    background-image: url(../img/mountain.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 51px;
    padding-bottom: 81px;
}

.comparing-img {
    display: block;
    margin: 0 auto;
}

.comparing-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 63px;
    margin-bottom: 23px;
}

.comparing-text {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 79px;
}

/*main page advantages block*/

.advantages-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    width: 33.33%;
}

.advantages-item-blue {
    display: flex;
    width: 100%;
    color: #ffffff;
    background-color: #83B3D3;
}

.advantages-item-grey {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-semiblue {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-container {
    padding-top: 98px;
    padding-bottom: 77px;
}
.advantages-title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-number {
    text-transform: uppercase;
}

.advantages-text {
    color: #333333;
    margin-top: 26px;
}

/*main page recording block*/

.main-recording {
    text-align: center;
    padding: 91px;
}

.recording-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
}

.recording-text {
    margin-top: 15px;
    margin-bottom: 73px;
    color: #333333;
}

/*general buttons set*/

.btn {
    color: #ffffff;
    background-color: #756257;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    background-repeat: no-repeat;
}

.btn-header {
    display: block;
}

.btn-recording {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 36px;
    width: 575px;
    margin: 0 auto;
}

.btn-newsletter {
    background-color: #83B3D3;
    font-size: 20px;
    line-height: 26px;
}

.btn-catalog-filter {
    background-color: #83B3D3;
}

.btn-catalog-reset {
    font-size: 18px;
    line-height: 23px;
    text-align: center;
}

.btn-load-more {
    display: block;
    background-color: #83B3D3;
    font-size: 20px;
    line-height: 26px;
    width: 625px;
    margin: 31px auto;
}

.btn-select {
    display: block;
    background-color: #83B3D3;
}

.btn-chosen {
    background-color: #7DB54F;
}
    
.btn-pagination {
    text-align: center;
    display: block;
    margin-right: 7px;
    color: #ffffff;
    background-color: #83B3D3;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    width: 55px;
}

/*тут переназначил color, который от body идет, чтобы 
обертки для кнопок не плодить*/
.btn-pagination-current {
    color: #000000;
    background-color: #E5E5E5;
}

.btn-mini {
    background-repeat: no-repeat;
    margin-left: 8px;
}

.btn-mini:first-child {
    margin: 0;
}

/*subscription block general set*/

.subscription-block {
    text-align: center;
    padding-bottom: 94px;
    padding-top: 94px;
}

.main-subscription {
    background-image: url(../img/valley-blur.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #ffffff;
}    

.subscription-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
}

.subscription-text {
    font-size: 22px;
    line-height: 26px;
    margin-top: 15px;
    margin-bottom: 26px;
}

.catalog-subscription-text {
    color: #333333;
}

/*catalog set*/
/*catalog gallery set*/

.filters-container {
    background-image: url(../img/mountain-blur.jpg);
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 35px 72px 83px;
}

.gallery-block {
    padding: 44px 72px 89px;
}

.inner-header-title {
    margin: 0;
    padding-bottom: 10px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.breadcrumbs-link {
    color: #ffffff;
}

.house-catalog {
    display: block;
    width: 12px;
    height: 12px;
    background-image: url(../img/house-mini.svg);
    background-repeat: no-repeat;
}

.catalog-filters {
    margin-top: 45px;
}

.filter-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.catalog-filter-list {
    margin-top: 30px;
}

.catalog-filter-item {
    margin-top: 16px;
} 


.price-filter-box {
    margin-left: 167px;
}

.price-buttons-box {
    display: block;
    width: 160px;
    margin-left: 81px;
}

.hotels-filter-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}

.catalog-filter-group {
    margin: 0 67px 0 0;
}

.sorting-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 39px;
}

.price-box {
    display: flex;
    margin-right: 0;
    border: 0;
}

.modetype-box {
    display: flex;
    width: 160px;
    margin-left: auto;
}

.listmode-img {
    display: block;
    width: 16px;
    height: 14px;
    background-image: url(../img/list-mode.svg);
}

.slidemode-img {
    display: block;
    width: 16px;
    height: 14px;
    background-image: url(../img/slide-mode.svg);
}

.cardmode-img {
    display: block;
    width: 16px;
    height: 14px;
    background-image: url(../img/card-mode.svg);
}

.catalog-title {
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.hotel-type   {
    font-size: 18px;
    line-height: 23px;
}

.pages-quantity {
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.hotel-card {
    display: flex;
    align-items: center;
    color: #333333;
    padding-top: 31px;
    padding-bottom: 30px;
    border-top: 1px solid #E6E6E6;
}

.hotel-card:last-child  {
    border-bottom: 1px solid #E6E6E6;
}

.hotel-photo {
    margin-right: 36px;
}

.hotel-price-info {
    display: flex;
    justify-content: space-between;
}

.catalog-btn-box {
    display: flex;
    justify-content: space-between;
}

.catalog-info-btn {
    display: block;
    margin-right: 8px;
}

.rating-box {
    margin-left: auto;
}

.rating-stars {
    width: 18px;
    height: 17px;
    background-image: url(../img/rating-star.svg);
    background-repeat: no-repeat;
}

.pagination-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E6E6E6;
    padding-top: 31px;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
}

.catalog-subscription {
    padding: 0 72px 138px;
}

/*general footer set & images*/

.page-footer {
    display: flex;
    margin-top: auto;
    padding: 40px 72px 30px;
    align-items: center;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
}

.footer-item:nth-child(2n) {
    margin: 0 30px;
}

.footer-tel {
    margin: 0 auto;
}

.tel-link {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    background-repeat: no-repeat;
}

.academy-logo {
    display: block;
    width: 115px;
    margin-left: auto;
}

.twitter {
    display: block;
    width: 18px;
    height: 15px;
    background-image: url(../img/twitter.svg);
}

.facebook {
    display: block;
    width: 10px;
    height: 18px;
    background-image: url(../img/facebook.svg);
}

.youtube {
    display: block;
    width: 20px;
    height: 16px;
    background-image: url(../img/youtube.svg);
}
