/*general set*/

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    min-height: 100%;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #F2F2F2;
}

.div-container {
    width: 1200px;
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.clear-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clear-fieldset {
    border: 0;
    padding: 0;
}

.clear-text-link {
    text-decoration: none;
    color: #000000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Pages*/

/*general header set & images*/

.page-header {
    padding-left: 71px;
    padding-right: 72px;
}

.navigation {
    position: relative;
    padding: 14px 0;
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
}

.navigation-item {
    margin-right: 20px;
}

.navigation-link {
    position: relative;
    padding: 3px 9px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    border: 3px solid transparent;
    border-radius: 10px;
    outline: none;
}

.navigation-link:nth-child(3n) {
    margin: 0;
}

.navigation-link:visited {
    padding-bottom: 21px;
    border-bottom: 2px solid #756257;
}

.navigation-link:hover {
    color: #615048;
}

.navigation-link:active {
    opacity: 0.3;
}

.navigation-link:focus:not(:active) {
    color: #615048;
    border-color: #83B3D3;
}

.user-item {
    margin: 0;
}

.user-item:nth-child(2n) {
    margin: 0 26px 0 3px;
}

.user-link {
    display: block;
    position: relative;
    padding: 15px;
    border: 3px solid transparent;
    border-radius: 10px;
    outline: none;
}

.user-link:focus:not(:active) {
    border-color: #83B3D3;
}

.navigation-icon { 
    position: absolute;
    top: 6px;
    right: 0;
    bottom: 0;
    left: 6px;
    margin: 0;  
}

.navigation-icon:hover {
    fill: #756257;
}

.navigation-icon:active {
   opacity: 0.3;
}

.quantity-icon {
    position: absolute;
    padding: 3px 0;
    box-sizing:border-box;
    font-size: 10px;
    line-height: 13px; /*в макете 13px, увеличил для центрирования по высоте*/
    color: #ffffff;
    font-weight: 400;
    margin: 0;
    bottom: 15px;
    left: 17px;
    text-decoration: none;
    text-align: center;
    background-color: #7DB550;
    width: 19px;
    height: 19px;
    border-radius: 50%;
}

.sedona-logo {
    position: absolute; 
    top: 0;
    left: 43.5%;
}

.navigation-user {
    padding: 0;
    margin-left: auto;
}

/*main page comparing block*/

.comparing-block {
    background-image: url(../img/mountain.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 51px;
}

.comparing-img {
    display: block;
    margin: 0 auto;
}

.div-divider {
    width: 100%;
    height: 57px;
    background-image: url(../img/divider.svg);
}

.comparing-title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 63px;
    margin-bottom: 23px;
}

.comparing-text {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 79px;
}

/*main page advantages block*/

.advantages-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    width: 33.33%;
    background-repeat: no-repeat;
}

.advantages-item-blue {
    display: flex;
    width: 100%;
    color: #ffffff;
    background-color: #83B3D3;
}

.advantages-item-grey {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-semiblue {
    background-color: rgba(131, 179, 211, 0.2);
}

.item-house {
    background-image: url(../img/house-icon.svg);
    background-position-x: center;
    background-position-y: 89px;
    padding: 0;
    padding-top: 184px;
}

.item-burger {
    background-image: url(../img/burger-icon.svg);
    background-position-x: center;
    background-position-y: 89px;
    padding: 0;
    padding-top: 184px;
}

.item-gift {
    background-image: url(../img/present-icon.svg);
    background-position-x: center;
    background-position-y: 89px;
    padding: 0;
    padding-top: 184px;
}

.advantages-container {
    padding: 98px 75px 77px;
}

.advantages-container-blue {
    padding: 89px 90px 77px;
}

.advantages-container-icon {
    padding: 0 75px 77px;
}

.advantages-title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-number {
    text-transform: uppercase;
}

.advantages-text {
    color: #333333;
    margin-top: 26px;
}

/*main page recording block*/

.main-recording {
    text-align: center;
    padding: 91px;
}

.recording-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
}

.recording-text {
    margin-top: 15px;
    margin-bottom: 73px;
    color: #333333;
}

.newsletter-form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 800px;
}

.newsletter-input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 0;
    background-color: #F2F2F2;
    padding: 15px 0;
    width: 75%;
}

/*general buttons set*/

.btn {
    color: #ffffff;
    background-color: #756257;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 3px solid transparent;
    outline: none;
}

.btn-header {
    display: block;
    border-radius: 4px;
    width: 160px;
    padding: 4px 0 6px;
}

.btn:hover {
    background-color: #615048;
}

.btn:active {
    background-color: #615048;
    color: rgba(255, 255, 255, 0.3);
}

.btn:focus:not(:active) {
    background-color: #615048;
    border-color: #83B3D3;
}

.btn-recording {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 36px;
    width: 575px;
    margin: 0 auto;
    padding: 8px 0 10px;
    border-radius: 10px;
}

.btn-recording:focus {
    border-radius: 10px;
}

.btn-newsletter {
    background-color: #83B3D3;
    font-size: 20px;
    line-height: 26px;
    width: 200px;
    padding: 14px 0;
    border-radius: 0px 10px 10px 0px;
    border: 3px solid transparent;
}

.btn-newsletter:hover {
    background-color: #68A2CA;
}

.btn-newsletter:active {
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}

.btn-newsletter:focus:not(:active) {
    background-color: #68A2CA;
    border-color: #615048;
}

.btn-catalog-filter {
    width: 160px;
    height: 48px;
}

.btn-catalog-reset {
    width: 160px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    text-transform: capitalize;

}

.btn-load-more {
    display: block;
    color: #ffffff;
    font-size: 20px;
    line-height: 26px;
    width: 625px;
    padding: 14px 0 15px;
    margin: 31px auto;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

/*subscription block general set*/

.subscription-block {
    text-align: center;
    padding-bottom: 94px;
    padding-top: 94px;
}

.main-subscription {
    background-image: url(../img/valley-blur.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #ffffff;
}    

.subscription-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
}

.subscription-text {
    font-size: 22px;
    line-height: 26px;
    margin-top: 15px;
    margin-bottom: 26px;
}

.catalog-subscription-text {
    color: #333333;
}

/*catalog set*/

/*catalog gallery set*/

.filters-container {
    background-image: url(../img/mountain-blur.jpg);
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 35px 72px 83px;
}

.gallery-block {
    padding: 44px 72px 89px;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    padding-bottom: 10px;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-item:nth-child(2n) {
    margin: 0 11px 0 10px;
}

.breadcrumbs-link {
    color: #ffffff;
    border-radius: 4px;
}

.house-link {
    display: block;
    padding: 1px 8px 3px;
}

.catalog-filters {
    margin-top: 45px;
}

.filter-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: max-content;
    margin: 0;
}

.catalog-filter-group {
    margin: 0 67px 0 0;
}

.catalog-filter-list {
    line-height: 23px;
    margin-top: 30px;
}

.catalog-filter-item {
    margin-top: 16px;
} 

.control-input {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 19px;
}

.filter-input-box {
    width: 287px;
    margin: 34px 0 20px;
    display: flex;
    border: 2px solid #FFFFFF;
}

.catalog-filter-input {
    width: 50%;
    padding: 13px 0;
}

.toggle-box {
    display: flex;
}

.price-buttons-box {
    align-self: end;
    display: block;
    width: 160px;
    margin-left: 81px;
}

.hotels-filter-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}

.hotels-filter {
    margin-left: 192px;
}

.sorting-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 39px;
}

.price-box {
    display: flex;
    margin-left: 69px;
    border: 0;
    padding: 0;
}

.catalog-filter-legend {
    font-size: 20px;
    line-height: 26px;
    grid-column: 1 / 3;
}

.modetype-box {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 8px;
    width: 160px;
    margin-left: auto;
}

.btn-mini {
    width: 44px;
    height: 44px;
    border: 2px solid #E6E6E6;
}

.pages-quantity {
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.hotel-card {
    display: grid;
    grid-template-columns: 180px min-content auto 160px;
    grid-template-rows: 120px;
    color: #333333;
    gap: 36px;
    border-top: 1px solid #E6E6E6;
    padding-top: 31px;
    padding-bottom: 30px;
}

.hotel-card:last-child  {
    border-bottom: 1px solid #E6E6E6;
}

.catalog-title-link {
    opacity: none;
}

.catalog-title {
    margin: 0;
    padding: 10px 15px;
    font-size: 24px;
    line-height: 31px;
}

.card-undertitle-box {
    display: grid;
    grid-template-columns: 151px 160px;
    grid-template-rows: 23px 37px;
    row-gap: 31px;
    column-gap: 8px;
}

.hotel-type {
    margin: 0;
    line-height: 23px;
}

.hotel-price {
    margin: 0;
    line-height: 23px;
}

.catalog-info-btn {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 16px;
    border-radius: 4px;
}

.btn-select {
    font-size: 16px;
}

.btn-chosen {
    background-color: #7DB54F;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    outline: none;
}

.rating-box {
    grid-column: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rating-stars {
    width: 18px;
    height: 17px;
    margin-right: 7px;
}

.social-rating-text {
    text-align: center;
    padding: 8px 0 8px;
    width: 160px;
    margin: 0;
    border-radius: 4px;
    background-color: #F2F2F2;
}

.pagination-box {
    display: flex;
    align-items: center;
    border-top: 1px solid #E6E6E6;
    padding-top: 31px;
}

.pagination-list {
    display: grid;
    grid-template-columns: 55px 55px 55px 55px 55px 55px;
    gap: 13px;
}

.btn-pagination {
    text-align: center;
    display: block;
    color: #ffffff;
    background-color: #83B3D3;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    width: 55px;
    padding: 14px 0 15px;
    outline: none;
}

.sorting-type { 
    margin-left: auto;
    width: 386px;
    line-height: 23px;
} /*обратить внимание позднее - элемент не прижался к правой границе родителя
padding 51px возможно избыточен - select вываливается на следующую строку*/

.pages-quantity {
    margin-right: 30px; 
}

.select-control {
    width: 287px;
    height: 48px;
    border: 2px solid #E6E6E6;
}

.catalog-subscription {
    padding: 0 72px 138px;
}

/*general footer set & images*/

.page-footer {
    display: flex;
    margin-top: auto;
    padding: 5px 72px;
    align-items: center;
}

.footer-list {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.footer-link {
    position: relative;
    padding: 9px 19px;
    border: 3px solid transparent;
    border-radius: 10px;
    outline: none;
}

.social-icon {
    position: absolute;
    right: 9px;
    top: 10px;
    fill: #83B3D3;
}

.facebook {
    right: 14px;
}

.social-icon:hover {
    fill: #68A2CA;
}

.social-icon:active {
    fill: #68A2CA;
}

.footer-link:focus:not(:active) {

    border-color: #83B3D3;
}

.footer-tel {
    margin-left: auto;
}

.tel-link {
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    text-transform: uppercase;
    border: 3px solid transparent;
    border-radius: 10px;
    outline: none;
}

.tel-link:hover {
    color: #756257;
}

.tel-link:active {
    opacity: 0.3;
}

.tel-link:focus:not(:active) {
    border-color: #83B3D3;
    padding: 10px;
}

.academy-box {
    display: block;
    width: 160px;
    margin-left: auto;
}

.academy-link {
    box-sizing: border-box;
    padding: 15px 22px;
    display: block;
    position: relative;
    border: 3px solid transparent;
    border-radius: 10px;
    outline: none;
}

.academy-logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
}

.academy-logo:hover {
    fill: #756257;
}

.academy-logo:active {
    fill: rgba(117, 98, 87, 0.3);
}

.academy-link:focus:not(:active) {
    border-color: #83B3D3;
}
